.Admin{
    display: flex;
}
.form{
    min-width: 15%;
}
.book-list{
    min-width: 25%;

}
.borrowedbooks{
    min-width: 25%;
}
.returnedbooks{
    min-width: 25%;
}
.booklist{
    font-size: large;
    list-style: none;
    border-style: solid;
    padding-top: 1%;
    margin-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
}
.header-item{
    padding-left: 20%;
}
.header{
    text-align: center;
}