<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="user.css">
    
</head>
<body>
    <h1 class="header">User Page</h1>
    <div class="User">
    <div class="book-list"><h1 class="header-item">Book List</h1><ul id="allbooks"></ul></div>
    <div class="borrowedbooks"><h1 class="header-item">Borrowed Books</h1><ul id="borrowedbooks"></ul></div>
    <div class="returnedbooks"><h1 class="header-item">Returned Books</h1><ul id="returnedbooks"></ul></div>
    </div>

    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js"></script>

    <script src="./user.js"></script>
</body>
</html>